* {
  margin: 0;
  padding: 0;
}
.navbar {
  height: 4em;
  background-color: rgb(103, 122, 228);
  background-color: #05526a;
  display: flex;
  justify-content: space-between;
}
.index {
  display: flex;
  margin-left: 30px;
  align-items: center;
}
.index h1 {
  font-weight: 200;
  font-size: 1.5em;
  color: rgb(231, 208, 0);
}
.adders {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-right: 20px;
}
.floor-field,
.elevator-field {
  display: flex;
  gap: 10px;
}
.label-addfloors,
.label-addelevators {
  color: rgb(231, 208, 0);
}
