<div class='floor'>
  <div class='structure'>
    <h3>Floor {{@floorCount}}</h3>
    <div class='btn btn-up'>
      <button class='btn btn-up' id='Up-{{@floorCount}}'>UP</button>
    </div>
    <div class='btn btn-down'>
      <button class='btn btn-down' id='Dwn-{{@floorCount}}'>DOWN</button>
    </div>
  </div>
</div>