<div class='floor'>
  <div class='structure'>
    <div>
      <h3>Floor {{@floorCount}}</h3>
    </div>
    <div class='btn'>
      <button class='btn-up' id='Up-{{@floorCount}}'>⬆️</button>
      <button class='btn-down' id='Dwn-{{@floorCount}}'>⬇️</button>
    </div>
  </div>
</div>