<nav class='navbar'>
  <div class='index'>
    <h1>Lift Simulator</h1>
  </div>
  <div class='adders'>
    <h4 class='navbar-addfloors'>
      Add Floors
    </h4>
    <h4 class='navbar-addelevators'>
      Add Elevators
    </h4>
  </div>
</nav>