{{page-title 'Lift Simulation'}}
<div class='body-layout'>
  <div class='container'>
    <NavBar />
    <div class='body'>
      {{outlet}}
    </div>
  </div>
  <div>
    <p class='footer'>Contents of this Lift Simulation Project are deployed from
      this
      <a
        href='https://github.com/DashDeipayan/lift-simulation-emberJS'
        target='_blank'
        rel='noopener noreferrer'
      >
        Github Repository
      </a>
    </p>
  </div>
</div>